.light-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($color: #e6e6e6, $alpha: 1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color: #000, $alpha: 0.15);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #000, $alpha: 0.35);
  }
}
.dark-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($color: #202020, $alpha: 1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color: #fff, $alpha: 0.25);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #fff, $alpha: 0.55);
  }
}
