::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--v-scrollbarBackground-base);
}

::-webkit-scrollbar-thumb {
  background: var(--v-scrollbarThumb-base);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--v-scrollbarThumbHover-base);
}

.v-navigation-drawer__border {
  background-color: rgba(255, 255, 255, 0) !important;
}

.v-tabs-items {
  background-color: transparent !important;
}