.md-sym-to-600 {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24;
  animation: md-sym-400-600 200ms cubic-bezier(0.2, 0, 0, 1);
}

.md-sym-to-400 {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  animation: md-sym-600-400 200ms cubic-bezier(0.2, 0, 0, 1);
  }

  @keyframes md-sym-600-400 {
    0% {
        font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
    }
    100% {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
  }


  @keyframes md-sym-400-600 {
    0% {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
    100% {
        font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
    }
  }